.main-section-container {
  display: grid;
  gap: 1rem;
  margin: 0 1rem;
}

.main-section-container .mainsection-small-panel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}

.main-section-container .small-item-divider {
  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  width: 0px;
  margin: 0 1rem;
}

.main-section-container .mainsection-panel {
  padding: 1.5rem;
  border-radius: 5px;
  text-align: center;
  font-size: 1.1em;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Legend Cards section */
.mainsection-cards-container {
  min-height: 470px;
  position: relative;
}

.mainsection-cards-title {
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-weight: 500;
}

.mainsection-cards-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #888;
}

.mainsection-anonymous-message {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  color: #888;
  width: 100%;
  text-align: center;
}

.main-section-container .mainsection-graph-panel {
  display: flex;
  flex-direction: column;
  grid-row: 2 / 4;
  min-height: 300px;
}

/* --- Desktop Layout (Larger Screens) --- */
/* This applies when the screen width is 1280px or more */
@media (min-width: 1280px) {
  .main-section-container {
    /* Define 2 columns: the first one twice as large as the second */
    grid-template-columns: 1fr 1fr 1fr;
    /* Define 3 equal rows */
    grid-template-rows: 1fr 1fr 1fr;
  }
  .main-section-container .mainsection-large-panel {
    grid-column: 1 / 3; /* Takes the first column */
    grid-row: 1 / 4; /* Spans from the first row line to the third row line (i.e., 2 rows) */
    /* This makes it as tall as the two small items combined */
  }
}

/* --- Tablet Layout (Medium Screens) --- */
/* This applies when the screen width is between 768px and 1279px */
@media (min-width: 768px) and (max-width: 1279px) {
  .main-section-container {
    /* Define 2 equal columns */
    grid-template-columns: 2fr 1fr;
    /* Define rows that adjust to content */
    grid-template-rows: auto auto;
  }

  .main-section-container .small-item {
    flex-direction: column;
    justify-content: space-between;
  }

  .main-section-container .small-item-divider {
    width: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    border-bottom: none;
    height: 100%;
  }

  .main-section-container .graph-item {
    grid-row: 2 / 3; /* Adjusted to fit in the second row */
  }
  .main-section-container .mainsection-large-panel {
    grid-column: 1 / 2; /* Spans across both columns */
    grid-row: 1 / 3; /* Takes the first row */
  }

  .main-section-container .mainsection-graph-panel {
    grid-column: 2 / 3; /* Takes the second column */
    grid-row: 2 / 3; /* Spans both rows */
  }
}

/* --- Mobile Layout (Smaller Screens - Wrapping) --- */
/* This applies when the screen width is less than 768px */
@media (max-width: 767px) {
  .main-section-container {
    padding: 0;
    /* Change to a single column layout */
    grid-template-columns: 1fr;
    /* Row heights will be determined by content automatically */
  }

  .main-section-container > * {
    /* Ensure all items take the full width of the single column */
    grid-column: 1 / -1; /* Each item spans the full width of the single column */
  }
  .main-section-container .mainsection-panel {
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
    font-size: 1.1em;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}
